.container {
  display: grid;
  grid-gap: 32px;
  margin: auto;
  margin-top: 32px;
  max-width: 1280px;
}

.postsContainer {
  padding-right: 32px;
  border-right: 1px solid var(--color-gray-300);
}

@media (min-width: 1536px) {
  .container {
    grid-template-columns: 3fr 1fr;
  }
}
