.root {
  padding: 8px 16px;
}

/* Colors */

.sea {
  background-color: var(--color-sea-600);
  color: var(--color-white);

  &.active,
  &:active {
    background-color: var(--color-sea-700);
  }

  &:hover,
  &.hover {
    &:not(:active):not(.active) {
      background-color: var(--color-sea-700);
    }
  }
}

.salmon {
  background-color: var(--color-salmon-600);
  color: var(--color-white);

  &.active,
  &:active {
    background-color: var(--color-salmon-700);
  }

  &:hover,
  &.hover {
    &:not(:active):not(.active) {
      background-color: var(--color-salmon-700);
    }
  }
}

.navy {
  background-color: var(--color-navy-600);
  color: var(--color-white);

  &.active,
  &:active {
    background-color: var(--color-navy-700);
  }

  &:hover,
  &.hover {
    &:not(:active):not(.active) {
      background-color: var(--color-navy-700);
    }
  }
}

.blue {
  background-color: var(--color-blue-600);
  color: var(--color-white);

  &.active,
  &:active {
    background-color: var(--color-blue-700);
  }

  &:hover,
  &.hover {
    &:not(:active):not(.active) {
      background-color: var(--color-blue-700);
    }
  }
}

/* Variants */

.simple,
.outline {
  border-radius: 4px;
}

.rounded,
.rounded-outline {
  border-radius: 99999px;
}

.outline,
.rounded-outline,
.text {
  background-color: transparent;

  &.sea {
    color: var(--color-sea-600);
  }
  &.salmon {
    color: var(--color-salmon-600);
  }
  &.navy {
    color: var(--color-navy-600);
  }
  &.blue {
    color: var(--color-blue-600);
  }
}

.outline,
.rounded-outline {
  &.active,
  &:active,
  &:hover,
  &.hover {
    color: white;
  }
}

.text {
  &.active,
  &:active,
  &:hover,
  &.hover {
    background-color: transparent !important;
  }
}

.outline,
.rounded-outline {
  &.sea {
    border: 1px solid var(--color-sea-600);
  }
  &.salmon {
    border: 1px solid var(--color-salmon-600);
  }
  &.navy {
    border: 1px solid var(--color-navy-600);
  }
  &.blue {
    color: 1px solid var(--color-blue-600);
  }
}

/* Size */

.sm {
  padding: 4px 12px;
}

.md {
  padding: 8px 16px;
}

.lg {
  padding: 12px 20px;
}
