:root {
  /* Colour Palette */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-sea-50: #f8fbfc;
  --color-sea-100: #f1f8f9;
  --color-sea-200: #e3f1f3;
  --color-sea-300: #d1e8eb;
  --color-sea-400: #c2e0e5;
  --color-sea-500: #aed6dc;
  --color-sea-600: #8dc5ce;
  --color-sea-700: #62afbb;
  --color-sea-800: #4594a0;
  --color-sea-900: #316972;

  --color-salmon-50: #fff6f5;
  --color-salmon-100: #ffedeb;
  --color-salmon-200: #ffdfdb;
  --color-salmon-300: #ffcdc7;
  --color-salmon-400: #ffb2a8;
  --color-salmon-500: #ff9a8d;
  --color-salmon-600: #ff7c6b;
  --color-salmon-700: #ff543d;
  --color-salmon-800: #f01c00;
  --color-salmon-900: #a81400;

  --color-navy-50: #f3f4f7;
  --color-navy-100: #e7e9ee;
  --color-navy-200: #ccd0dc;
  --color-navy-300: #abb2c5;
  --color-navy-400: #838ea9;
  --color-navy-500: #4a536b;
  --color-navy-600: #434b60;
  --color-navy-700: #383f51;
  --color-navy-800: #2c313f;
  --color-navy-900: #232833;
}
