// Todo(Charles): Refactor variables later
/*
 * Styles inspired by
 * https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/
*/

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--color-navy-100);
  border-radius: 4px;

  &:focus {
    border-color: hsl(245, 100%, 42%);
    box-shadow: 0 0 0 3px hsla(245, 100%, calc(42% + 40%), 0.8);
    transition: 180ms box-shadow ease-in-out;
    outline: 3px solid transparent;
  }
}
